@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

#top {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  #top .navbar {
    z-index: 1;
    position: sticky;
    top: 2rem;
    width: 100%;
    height: 10rem;
    margin-top: 2rem;
    font-size: 1.6em; }
    #top .navbar__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      #top .navbar__items li:nth-child(2) {
        margin-left: 1.7rem; }
    #top .navbar__links {
      display: block;
      height: 10rem;
      line-height: 8rem;
      color: aliceblue; }
    #top .navbar__links.logo {
      width: 10rem;
      height: 10rem; }
      #top .navbar__links.logo img {
        width: 100%;
        height: 100%; }
  #top .reservation {
    z-index: 1;
    margin-bottom: 6rem; }
    #top .reservation .btn-index {
      cursor: pointer;
      color: aliceblue;
      font-size: 2em;
      padding: 1rem;
      border: 2px solid rgba(0, 103, 221, 0);
      border-radius: 10px;
      background: #0067dd;
      transition: all .5s ease-in; }

/*Begin Reservation-card*/
.reservation-card__background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .reservation-card__background .reservation-card, .reservation-card__background .login-card {
    background-color: #e0e6eb;
    width: 80%;
    height: 400px;
    padding: 3rem;
    border-radius: 15px;
    position: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem; }
    .reservation-card__background .reservation-card .close, .reservation-card__background .login-card .close {
      width: 20px;
      z-index: 1;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer; }
    .reservation-card__background .reservation-card__info, .reservation-card__background .login-card__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem; }
      .reservation-card__background .reservation-card__info #title-room, .reservation-card__background .login-card__info #title-room {
        text-align: center;
        font-size: 2.9em; }
      .reservation-card__background .reservation-card__info p, .reservation-card__background .login-card__info p {
        text-align: center;
        font-size: 1.8em; }
    .reservation-card__background .reservation-card__form, .reservation-card__background .reservation-card .login-card__form, .reservation-card__background .login-card__form, .reservation-card__background .login-card .login-card__form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 90%;
      height: 60%;
      gap: 1.5rem; }
      .reservation-card__background .reservation-card__form #select-room, .reservation-card__background .reservation-card .login-card__form #select-room, .reservation-card__background .login-card__form #select-room, .reservation-card__background .login-card .login-card__form #select-room {
        padding: .3rem;
        cursor: pointer; }
      .reservation-card__background .reservation-card__form label, .reservation-card__background .reservation-card .login-card__form label, .reservation-card__background .login-card__form label, .reservation-card__background .login-card .login-card__form label {
        font-size: 1.6em; }
      .reservation-card__background .reservation-card__form input, .reservation-card__background .reservation-card .login-card__form input, .reservation-card__background .login-card__form input, .reservation-card__background .login-card .login-card__form input {
        padding: .4rem;
        cursor: pointer; }
      .reservation-card__background .reservation-card__form p, .reservation-card__background .reservation-card .login-card__form p, .reservation-card__background .login-card__form p, .reservation-card__background .login-card .login-card__form p {
        font-size: 1.8em; }
      .reservation-card__background .reservation-card__form button, .reservation-card__background .reservation-card .login-card__form button, .reservation-card__background .login-card__form button, .reservation-card__background .login-card .login-card__form button {
        padding: .6rem;
        font-size: 2em;
        cursor: pointer; }
      .reservation-card__background .reservation-card__form .username-container, .reservation-card__background .reservation-card .login-card__form .username-container, .reservation-card__background .login-card__form .username-container, .reservation-card__background .login-card .login-card__form .username-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 1rem; }
        .reservation-card__background .reservation-card__form .username-container input, .reservation-card__background .reservation-card .login-card__form .username-container input, .reservation-card__background .login-card__form .username-container input, .reservation-card__background .login-card .login-card__form .username-container input {
          cursor: auto; }
      .reservation-card__background .reservation-card__form .password-container, .reservation-card__background .reservation-card .login-card__form .password-container, .reservation-card__background .login-card__form .password-container, .reservation-card__background .login-card .login-card__form .password-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2.5rem; }
        .reservation-card__background .reservation-card__form .password-container input, .reservation-card__background .reservation-card .login-card__form .password-container input, .reservation-card__background .login-card__form .password-container input, .reservation-card__background .login-card .login-card__form .password-container input {
          cursor: auto; }

#main .gallery-background {
  position: absolute;
  top: 0;
  z-index: 0;
  overflow: hidden; }
  #main .gallery-background__mobile {
    width: 300%;
    height: 75vh;
    display: flex;
    margin-left: -100%; }
    #main .gallery-background__mobile__section {
      width: 100%; }
      #main .gallery-background__mobile__section .img-mobile {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(65%); }
  #main .gallery-background__buttom {
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; }
    #main .gallery-background__buttom img {
      z-index: 1;
      height: 100%;
      width: 100%; }
    #main .gallery-background__buttom:hover {
      background-color: #fff; }
  #main .gallery-background__buttom--right {
    right: 10px; }
  #main .gallery-background__buttom--left {
    left: 10px; }

#main .presentation {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2.5rem; }
  #main .presentation__pre-name {
    font-size: 2.4em;
    display: inline-block;
    margin: 0 3rem; }
  #main .presentation__hotel-name {
    font-size: 3.6em;
    display: inline-block;
    text-transform: uppercase;
    color: #6dbdff;
    margin: 1rem auto; }
  #main .presentation__descr-hotel {
    font-size: 1.6em;
    margin: 2rem;
    text-align: justify; }

#main-rooms {
  background: linear-gradient(179.4deg, #0c1445 -16.9%, #471e54 119.9%);
  padding-bottom: 5rem; }
  #main-rooms #top {
    height: 16rem; }
  #main-rooms .rooms-gallery {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 7rem;
    flex: 1 1 50%; }
    #main-rooms .rooms-gallery__article {
      margin: 0 3rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 1.5rem; }
      #main-rooms .rooms-gallery__article .card__cont-img {
        max-width: 50rem;
        max-height: 44rem;
        background-color: beige;
        padding: 5px;
        border-radius: 15px;
        display: flex; }
        #main-rooms .rooms-gallery__article .card__cont-img img {
          width: 100%;
          height: 100%;
          border-radius: 10px; }
      #main-rooms .rooms-gallery__article .reservation-btn {
        padding: .5rem;
        text-transform: uppercase;
        letter-spacing: .08em;
        cursor: pointer; }
